<div class="navbar navbar-inverse navbar-fixed-top" ng-controller="NavCtrl">
  <div class="navbar-inner">
    <div class="container">
      <button type="button" class="btn btn-navbar" data-toggle="collapse" data-target=".nav-collapse">
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
      </button>
      <a class="brand" href="/">CMS Bounty |</a>
      <div class="nav-collapse collapse">
        <ul class="nav">
          <li ng-class="navClass('index')"><a href="/index">Home</a></li>
          <li ng-show="auth.authenticated"><a href="/cms" ng-click="cmsRedirect()">CMS</a></li>
        </ul>

        <%- partial('../widgets/auth/views/partials/login') %>

      </div><!--/.nav-collapse -->
    </div>
  </div>
</div>