<%- partial('partials/nav') %>
<div class="container-fluid">
	<div class="row-fluid">
		<div class="span3">
			<div class="well sidebar-nav">
				<ul class="nav nav-list" ng-controller="NavCtrl">
					<li ng-class="navClass('cms/index')">
						<a href="/cms/index">Index</a>
					</li>
					<li class="nav-header">Data</li>
					<li ng-class="navClass('cms/data','contains')">
						<a href="/cms/data/view">View</a>
					</li>
					<li class="nav-header">Models</li>
					<li ng-class="navClass('cms/models/view','contains')">
						<a href="/cms/models/view">View</a>
					</li>
					<li ng-class="navClass('cms/models/scaffold')">
						<a href="/cms/models/scaffold">Scaffold</a>
					</li>
				</ul>
			</div>
			<!--/.well -->
		</div>
		<!--/span-->

		<div ng-view class="span9"></div>
	</div>
	<!--/row-->
	<%- partial('partials/footer') %>
</div>
<!--/.fluid-container-->