<script id="template-models" type="template/html">
<div class="hero-unit">
	<h1>Models</h1>
	<p>From here you can <a href="/cms/models/list">list</a> or <a href="/cms/models/scaffold">scaffold</a> models.</p>
</div>
</script>