<script id="template-models-scaffold" type="template/html">
<div class="hero-unit">
	<h1>Scaffold Models</h1>
	<p>Enter the name of the model and any fields, then click scaffold.</p>
	<form>
	  <fieldset>
	    <legend>Scaffold Model</legend>
	    <div class="alert alert-success" ng-show="saved">
		  <button type="button" class="close" ng-click="clearSaved()">&times;</button>
		  <strong>Success!</strong> Your model has been created.  You will need to restart sails to see your changes.
		</div>
		<div class="alert alert-error" ng-show="error">
		  <button type="button" class="close" ng-click="clearError()">&times;</button>
		  <strong>Error!</strong> {{error}}
		</div>
	    <label>Model Name</label>
	    <input type="text" placeholder="Model name" ng-model="modelName">
	    <span class="help-block">Command to be executed: "{{generateCommand()}}"</span>
	    <button type="submit" class="btn" ng-click="scaffold()">Scaffold</button>
	  </fieldset>
	</form>
</div>
</script>