<script id="template-not-found" type="text/template">
      <!-- Main hero unit for a primary marketing message or call to action -->
      <div class="hero-unit">
        <h1>404 NOT FOUND</h1>
        <p>We couldn't find this page.</p>
      </div>
      <div ng-show="authenticated">
      	Create
      </div>
</script>